$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Merriweather', serif;;

//Colors

$black: rgba(43, 45, 56, 1);
$gray: rgba(171, 171, 171, 1);
$light_gray: rgba(255, 255, 255, 0.25);
$white: rgba(255, 255, 255, 1);
$pink: rgba(219, 42, 107, 1);
